# Python
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
.vscode/

# virtual env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Logs & experiment outputs
runs/
wandb/
logs/
outputs/
checkpoints/
*.log

# model weights
*.pt
*.pth
*.ckpt
*.onnx

# data
/data/
/datasets/
*.npy
*.npz

# additional model and archive artifacts
*.safetensors
*.bin
*.tar
*.tar.gz
*.zip

# system
.DS_Store

#caption
tools/TexTGenerate/
requirements.txt
